h1 {
	text-align:center;
	border:5px solid black;
	font-family:"Arial";
}

h2 {
	border-bottom:2px solid black;
	font-family:"Arial";
}

.italic {
	font-style:italic;
}

.bold {
	font-weight:bold;
}

h3 {
	font-family:"Arial";
	margin-left:2%;
	border-left: 2px solid black;
	padding: 2px;		
}

p {
	font-family:"Arial";
	margin-left: 2%;
}

ul {
	font-family:"Arial";
	margin-left: 5%;
}

p.left {
	margin-left: 0%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.center {
	text-align: center;
}